[Desktop Entry]
Name=Openbox Blaulicht
Comment=Openbox minimal session for blaulicht
Exec=/usr/bin/openbox-session
TryExec=/usr/bin/openbox-session
Type=Application
